<!-- <mat-card class="m-3">
  <img mat-card-image lightbox [src]="src" download />
  <mat-card-content>
    <mat-checkbox class="example-margin text-white"></mat-checkbox>
    <button mat-icon-button aria-label="Example icon button with a delete icon">
      <mat-icon class="text-info">download</mat-icon>
    </button>
  </mat-card-content>
</mat-card> -->

<!-- <div class="card bg-dark text-white">
  <img [src]="src" class="card-img" alt="..." />
  <div class="card-img-overlay">
    <mat-checkbox class="example-margin text-white"></mat-checkbox>
    <button mat-icon-button aria-label="Example icon button with a delete icon">
      <mat-icon class="text-info">download</mat-icon>
    </button>
  </div>
</div> -->

<div class="card">
  <img [src]="src" lightbox class="card-img-top" />
  <div class="card-body">
    <mat-checkbox class="example-margin text-white"></mat-checkbox>
    <button mat-icon-button aria-label="Example icon button with a delete icon">
      <mat-icon class="text-info">download</mat-icon>
    </button>
  </div>
</div>
